@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.padding-general {
  padding: 0px 50px;
}

.nav-bar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EE7E7E;
}

.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: black;
  text-transform: capitalize;
}

.ul-nav {
  display: flex;
  margin: 20px;
}

.li-item-nav {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.image-full {
  /* background-image: url(images/image-full.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  height: 500px;
  background-color: white;
  display: flex;
  /* position: relative; */
}

.image-half {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 30px;
}

.image-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-contact {
  border-radius: 5px;
}

.ul-footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #EE7E7E;

}
